redirects: on
source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2/
source https://www.myget.org/F/wallymathieu/api/v2

nuget FAKE
nuget AutoFixture 
nuget AutoFixture.Xunit2
nuget xunit 2.1
nuget xunit.runner.console 2.1
nuget MarkdownLog 0.9.4
nuget FSharp.Core
